<%- include ('../_partial/_header'); -%>



    <!--List all the meals-->
    <div class="container">
        <div class="card" style="width: 40%; margin: 10% auto; text-align: center; padding: 20px;">
            <%= meal.title %><br>
                <%= meal.content %> <br>
                    <%= meal.calories %> <br>
        </div>
    </div>





    <%- include ('../_partial/_footer'); -%>